/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
    white-space: nowrap;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* nav bar */
.nav-bar{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem;
}

.nav-logo span{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.4em;
    font-weight: 800;
    color: #119BF5;
}

.nav-link ul {
    display: flex;
    flex-direction: row;
}

.nav-link ul li:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.nav-link ul li a {
    margin: 0 20px;
    color: #626262;
}

.nav-menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

.nav-menuMobile,
.nav-menuMobileLink{
    display: none;
}

/* Content */
.main-container, 
.section-container{
    display: flex;
}

.main-img,
.section-img, 
.section-imgTwo{
    margin: 0 auto;
}

.main-content,
.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

.main-content h1, 
.section-content h2{
    font-size: 2.2em;
    line-height: 45px;
    margin-bottom: 15px;
}

.main-content p, 
.section-content p{
    color: #949292;
}

.main-contact, 
.section-contact{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.main-contact input, 
.section-contact input{
    width: 70%;
    height: auto;
    font-size: 0.9em;
    background-color: #ebe6e6;
    border: none;
    border-radius: 10px;
}

.main-contact input, 
.section-contact input:focus{
    outline-color:  #119BF5;
    outline-offset: 2px;
}

.main-contact ::placeholder,
.section-contact ::placeholder{
    color: #626262;
    padding: 5px;
}

.main-contact button , 
.section-contact button{
    background-color: #119BF5;
    color: #ffff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.9em;
    padding: 1rem 1rem;
    margin-left: 10px;
    width: 40%;
    height: 100%;
    cursor: pointer;
}

.main-contact button:active, 
.section-contact button:active{
    position: relative;
    top: 2px;
}

.main-section{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-section p{
    margin: 5px 20px;
    color:#626262;
}

footer{
    max-width: 100%;
    background-color:  #ebe6e6;
    text-align: center;
    padding: 0.5rem;
}

footer a{
    color:  #119BF5;
}


/* Responsividade */

@media screen and (max-width: 930px){

    .main-img img, 
    .section-img img, 
    .section-imgTwo img {
        width: 350px;
        height: auto;
    } 

    .main-section{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .main-sectionOne,
    .main-sectionTwo,
    .main-sectionThree{
        margin-top: 20px;
    } 
}


@media screen and (max-width: 755px) {

    .container{
        padding: 0 0;
    }

    .nav-bar{
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .nav-logo{
        display: flex;
        align-items: center;
    }

    .nav-link{
        display: none;
    }

    .main-container,
    .section-container{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    .main-section{
        display: flex;
        flex-direction: column;
    }

    .section-content, 
    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 300px;
    }

    #section-middleImg{
        display: none;
    }

    .nav-menuMobile{
        display: block;
    }

    .nav-menuMobile button{
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .nav-menuMobileLink ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 1.5rem;
        height: 150px;
        font-size: 1.2em;
        background-color:#d8d3d3;
    }
    
    .nav-menuMobileLink ul li{
        margin-top: 10px;
    }

    .nav-menuMobileLink ul li a{
        margin: 20px 0;
        color:#119BF5;
    }

    .nav-menuMobileLink .menu-item{
        display: block;
        padding-top: 1.2rem;
    }

@media screen and (max-width: 355px){

    .main-content h1, 
    .section-content h2{
        font-size: 1.8em;
    }

    .main-content p, 
    .section-content p{
        font-size: 0.85em;
        text-align: center;
    }
}  
}



